html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    title Admin
    script(src='/javascripts/jquery-1.12.4.min.js', type='text/javascript')
    script(src='/javascripts/main.js', type='text/javascript')
    script(src='/javascripts/admin-albumlist.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    style(id='tempstyle')
  body
    // Body
    .background-color#background-color
      .container.padding-top#body-container
        // Display navigation link
        .location  
          location#location
            // <a href = "#" id = "navigation">Home</a>
            // Display user action: logout
          a#logout(href='/admin/logout') Logout
          span#username= user
        .clear-both
        // End header
        // Main
        .container.padding-standard
          // Border with title
          fieldset.main-container.min-height
            legend.name-main-container-admin-albumlist Album list
            // title
            // List of album
            .margin-standard
              .margin-standard
                // Create new album form
                .container.left.col-50
                  form(action='/admin/addAlbum', method='POST')
                    input.text-input.col-60(type='text', name='albumName', placeholder=' + Name of new album...', required='')
                    input.button-classic.col-30(type='submit', value='Add Album')
                // Album search box
                .container.col-50.right
                  // <form id = "search" action = "/admin/search" method = "POST" accept-charset="utf-8">
                  input#search-content.text-input.col-70.right(type='text', name='search', placeholder='  Search album by name...', required='')
                  // </form>
              .clear-both
              // Show list of album using table
              .margin-standard
                table.container
                  thead
                    tr.container
                      th#thead-number(data-direction='1', width='100')
                        .button-classic #
                      th#thead-title(data-direction='1', data-sort='name')
                        .button-classic Title
                        img(src='images/none.png').sort-icon-hide
                      th#thead-timestamp(data-direction='1', data-sort='createAt', width='200')
                        .button-classic Created at
                        img(src='images/none.png').sort-icon-hide
                      th#thead-numberOfPhoto(data-direction='1', data-sort='numberOfPhoto', width='100')
                        .button-classic No.
                        img(src='images/none.png').sort-icon-hide
                      th#thead-action(data-direction='1', width='100')
                        .button-classic Action
                  tbody#album-list
              // Pagination
            // End list of album
          // End border with title
