html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    title Web Anh
    script(src='/javascripts/jquery-1.12.4.min.js', type='text/javascript')
    script(src='/javascripts/main.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .container
      
      .login-page-background
      .location.top
        img#img-logo(src='../images/logo.png', title='logo')
        strong  » Login
      .login-board
        img(src = "../images/loginboard.jpg").background-image
        form(method='post', action='/admin/login')
          .container.clear-both.margin-down.form-input-height
            span.left.col-30 Username
            input#username.right.col-60.text-input(name='username', placeholder='Enter username...', autofocus='')
          .container.clear-both.margin-down.form-input-height
            span.left.col-30 Password
            input#password.right.col-60.text-input(name='password', placeholder='Enter password...' type = 'password')
          .container.clear-both.form-input-height
            .col-40.left
              input#remember-me.left(name='remember', type='checkbox')
              span Remember me
            input#login-button.right.col-20(type='submit', value='Login')
            

       
